* {
	margin: 0;
	padding: 0;
}
/*rgb(54, 185, 255)*/
header {
	background-color: #1DA1F2;
	height: 120px;
	border-bottom:solid 1px white;
	font-family: sans-serif;
	text-align: center;
  padding-top: 20px;
}

h1 {
  font-family: 'Lobster', cursive;
	color: white;
	margin-top:0;
	font-size: 5em;
}
body{
	background-image: url(images/twitter.jpg);
	background-size: cover;
  /*background-size: 100%;*/
  /*background-repeat: no-repeat;*/
  /*background-position: bottom;*/
}
.profil {
  background-color: #456789;
}
#login{
	display: -moz-grid;
}
#signin{
	display: -moz-grid;
}
form{
	/*display: -moz-groupbox;*/
}
footer{
	margin-top: 25em;
	color: white;
}

p {
  margin-top: 0px;
}

fieldset {
  margin-bottom: 15px;
  padding: 10px;
  margin: auto;
  margin-bottom: 30px;
  width: 500px;
}

legend {
  padding: 0px 3px;
  font-weight: bold;
  font-variant: small-caps;
  /*border-top: solid 1px white;*/
}

label {
  width: 110px;
  display: inline-block;
  vertical-align: top;
  margin: 6px;
}

em {
  font-weight: bold;
  font-style: normal;
  color: #f00;
}

input:focus {
  background: #eaeaea;
}

input, textarea {
  width: 249px;
}

textarea {
  height: 100px;
}

select {
  width: 254px;
}

input[type=checkbox] {
  width: 10px;
}

input[type=submit] {
  width: 150px;
  padding: 10px;
}

.error_div {
  background-color: rgba(255, 0, 0, 0.85);
  padding: 10px;
  width: 380px;
  border-radius: 10px;
  margin: auto;
  margin-top: 10px;
  color: white;
}

.green_div {
  background-color: rgba(0, 235, 0, 0.85);
  color: black;
}

#user_id {
  display: none;
}
