.profil{
	/*background-color: grey;*/
}
#tweet {
border:1px dotted #CCCCCC;
padding:0.5em;
/*[b]display : inline ;[/b]*/
}

#user_id {
  display: none;
}

#tweet_id {
  padding-top: 40px;
  padding-bottom: 40px;
}
